{% extends "custom_admin/users.html" %} {% load static %} {% block sidebaruser %}
<div>{% include "custom_admin/sidebar.html" %}</div>
{% endblock sidebaruser %} {% block headings %}
<div class="mb-8">
    <div class="text-center bg-white border-b-2 border-lifelink-black1 p-4">
        <ul class="flex flex-wrap -mb-px">
            <li class="mr-4">
                <a href="{% url 'bloodInventory' %}" class="tab-link font-semibold text-gray-900 text-lg py-2 px-4 border-b-2 border-transparent" data-tab="donor">
                    Stocks
                </a>
            </li>
            <li class="mr-4">
                <a href="{% url 'bloodBagList' %}" class="tab-link font-semibold text-gray-900 text-lg py-2 px-4 border-b-2 border-transparent" data-tab="deferral">
                    Blood Bags
                </a>
            </li>
        </ul>
    </div>
    <div class="flex justify-between items-center px-4 py-3 bg-white border-b border-gray-200 rounded-b-lg">
        <div class="flex flex-row">
            <div class="text-lg font-bold text-gray-700 mr-[20px]">{{ now|date:"l, F d, Y" }}</div>
            <div class="flex items-center justify-around">
                <div class="text-xl font-bold text-gray-700 mr-2" id="clock"></div>
                <div class="text-gray-500 font-medium text-sm uppercase hidden md:block">{{ now|date:"a" }}</div>
            </div>
        </div>
        <div class="text-sm font-bold text-gray-700 mr-[20px]">Last updated: January 05 2023, 10:55 A.M</div>
    </div>
</div>
{% endblock headings %} {% block searchPlaceHolder %}
<input type="text" id="search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Bag" />
{% endblock searchPlaceHolder %} {% block export %}
<a href="{% url 'exportBloodBagList_to_xls' %}">
    <button
        id="dateRange-modal-trigger-btn"
        data-modal-target="small-modal"
        data-modal-toggle="small-modal"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-300 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5"
        type="button"
    >
        <img src="{% static 'assets/icons/xls.svg' %}" alt="xls icon" class="w-5 h-5 mr-4" /> Export
    </button>
</a>
{% endblock export %} {% block table %}

<table class="w-full text-sm text-left text-gray-500 table-auto" id="table">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 text-center">
        <tr>
            <!-- <th scope="col" class="px-6 py-3">
               info ID 
      </th> -->
            <th scope="col" class="px-6 py-3">
                <div class="flex items-center justify-center">
                    Name {% if users.sort_param == '&sort=firstname' %}
                    <a href="?page={{ users.number }}&sort=-firstname">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% else %}
                    <a href="?page={{ users.number }}&sort=firstname">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% endif %}
                </div>
            </th>
            <th scope="col" class="px-6 py-3">
                <div class="flex items-center justify-center">Serial Number</div>
            </th>
            <th scope="col" class="px-6 py-3">
                <div class="flex items-center justify-center">
                    Blood Type {% if users.sort_param == '&sort=blood_type' %} {% if users.paginator.reverse %}
                    <!-- check if currently sorted ascending or descending -->
                    <a href="?page={{ users.number }}&sort=-blood_type">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort ascending icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% else %}
                    <a href="?page={{ users.number }}">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort descending icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% endif %} {% else %}
                    <a href="?page={{ users.number }}&sort=blood_type">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% endif %}
                </div>
            </th>
            <th scope="col" class="px-6 py-3">Date Donated</th>
            <th scope="col" class="px-6 py-3">Bled By</th>
            <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
    </thead>
    {% for blood_bag in page_obj %}
    <tbody id="table-body">
        <tr class="bg-white border-b hover:bg-gray-50 text-center text-gray-800">
            <!-- <td class="px-6 py-4">
        {{ blood_bag.info_id.info_id }}
      </td> -->
            <td class="px-6 py-4">
                {{ blood_bag.info_id.firstname }} {{ blood_bag.info_id.lastname }}
            </td>
            <td class="px-6 py-4">
                {{ blood_bag.serial_no }}
            </td>
            <td class="px-6 py-4">
                {{ blood_bag.info_id.blood_type }}
            </td>
            <td class="px-8 py-6">
                {{ blood_bag.date_donated|date:"F d, Y" }}
            </td>
            <td class="px-6 py-4">
                {{ blood_bag.bled_by }}
            </td>
            <td class="px-6 py-4">
                <div class="flex item-center justify-center">
                    <button data-modal-target="#view-blood-modal{{user.info_id}}" data-modal-toggle="defaultModal" type="button">
                        <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </div>
                    </button>
                    <button data-modal-target="#edit-blood-modal{{user.info_id}}" data-modal-toggle="defaultModal" type="button">
                        <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg>
                        </div>
                    </button>
                    <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock table %} {% block navPagination %}
<nav class="bg-gray-50 flex items-center justify-center py-5">
    {% if page_obj.has_other_pages %}
    <ul class="flex list-none">
        {% if page_obj.has_previous %}
        <!-- First page item -->
        <li>
            <a class="relative block px-3 py-2 rounded-l-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page=1{{ page_obj.sort_param }}">
                <span>First</span>
            </a>
        </li>
        <!-- Previous page item -->
        <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ page_obj.previous_page_number }}{{ page_obj.sort_param }}"> Previous </a>
        </li>
        {% endif %} {% for num in page_obj.paginator.page_range %} {% if num == page_obj.number %}
        <!-- Current page item with highlighted background -->
        <li>
            <a class="relative block px-3 py-2 bg-primary text-red-700 font-medium rounded-md" href="?page={{ num }}{{ page_obj.sort_param }}">{{ num }}</a>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <!-- Page number item -->
        <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ num }}{{ page_obj.sort_param }}">
                {{ num }}
            </a>
        </li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <!-- Next page item -->
        <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ page_obj.next_page_number }}{{ page_obj.sort_param }}"> Next </a>
        </li>
        <!-- Last page item -->
        <li>
            <a class="relative block px-3 py-2 rounded-r-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ page_obj.paginator.num_pages }}{{ page_obj.sort_param }}">
                <span>Last</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
{% endblock navPagination %}
