{% extends "custom_admin/users.html" %} {% load static %} {% block sidebaruser %}
<div>{% include "custom_admin/sidebar.html" %}</div>
{% endblock sidebaruser %} {% block headings %}
{% include "inventory/navbar.html" %}
{% endblock headings %} {% block searchPlaceHolder %}
<input type="text" id="search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Bag" />
{% endblock searchPlaceHolder %} {% block export %}
<a href="{% url 'exportBloodBagList_to_xls' %}">
    <button
        id="dateRange-modal-trigger-btn"
        data-modal-target="small-modal"
        data-modal-toggle="small-modal"
        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-300 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5"
        type="button"
    >
        <img src="{% static 'assets/icons/xls.svg' %}" alt="xls icon" class="w-5 h-5 mr-4" /> Export
    </button>
</a>
{% endblock export %} {% block table %}

<table class="w-full text-sm text-left text-gray-500 table-auto" id="table">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 text-center">
        <tr>
            <!-- <th scope="col" class="px-6 py-3">
               info ID 
      </th> -->
            <th scope="col" class="px-6 py-3">
                <div class="flex items-center justify-center">
                    Name {% if users.sort_param == '&sort=firstname' %}
                    <a href="?page={{ users.number }}&sort=-firstname">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% else %}
                    <a href="?page={{ users.number }}&sort=firstname">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% endif %}
                </div>
            </th>
            <th scope="col" class="px-6 py-3">
                <div class="flex items-center justify-center">Serial Number</div>
            </th>
            <th scope="col" class="px-6 py-3">
                <div class="flex items-center justify-center">
                    Blood Type {% if users.sort_param == '&sort=blood_type' %} {% if users.paginator.reverse %}
                    <!-- check if currently sorted ascending or descending -->
                    <a href="?page={{ users.number }}&sort=-blood_type">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort ascending icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% else %}
                    <a href="?page={{ users.number }}">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort descending icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% endif %} {% else %}
                    <a href="?page={{ users.number }}&sort=blood_type">
                        <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                    </a>
                    {% endif %}
                </div>
            </th>
            <th scope="col" class="px-6 py-3">Date Donated</th>
            <th scope="col" class="px-6 py-3">Bled By</th>
            <th scope="col" class="px-6 py-3">Actions</th>
            <th scope="col" class="px-6 py-3"></th>
        </tr>
    </thead>
    {% for blood_bag in page_obj %}
    <tbody id="table-body">
        <tr class="bg-white border-b hover:bg-gray-50 text-center text-gray-800">
            <!-- <td class="px-6 py-4">
        {{ blood_bag.info_id.info_id }}
      </td> -->
            <td class="px-6 py-4">
                {{ blood_bag.info_id.firstname }} {{ blood_bag.info_id.lastname }}
            </td>
            <td class="px-6 py-4">
                {{ blood_bag.serial_no }}
            </td>
            <td class="px-6 py-4">
                {{ blood_bag.info_id.blood_type }}
            </td>
            <td class="px-8 py-6">
                {{ blood_bag.date_donated|date:"F d, Y" }}
            </td>
            <td class="px-6 py-4">
                {{ blood_bag.bled_by }}
            </td>
            
            <td class="px-6 py-4">
                <div class="flex item-center justify-center">
                    <button data-modal-target="#move-to-stock{{user.info_id}}" data-modal-toggle="defaultModal" type="button">
                        <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </div>
                    </button>
                    <button data-modal-target="#edit-blood-modal{{user.info_id}}" data-modal-toggle="defaultModal" type="button">
                        <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg>
                        </div>
                    </button>
                    <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </div>
                </div>
            </td>
            <td class="px-6 py-4">
                <button data-modal-target="#move-to-stock{{blood_bag.bag_id }}" data-modal-toggle="staticModal" type="button" class="bg-red-600 hover:bg-red-700 focus:bg-red-700 text-white font-bold py-1 px-4 rounded">
                    Move to stock
                </button>
            </td>
        </tr>
    </tbody>

    <!-- Modal for adding it to stock -->
    <div id="move-to-stock{{blood_bag.bag_id }}" class="fixed flex justify-center items-center z-50 modal hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-screen max-h-full bg-gray-800 bg-opacity-75">
        <div class="relative w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-gray-200 rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b border-gray-400 rounded-t">
                    <h3 class="text-xl font-semibold text-gray-900">
                        Move <span class="text-red-700">{{ blood_bag.info_id.firstname }} {{ blood_bag.info_id.lastname }}</span>
                    </h3>
                    <h3 class="text-lg font-semibold text-gray-900">
                        Serial number: <span class="text-red-700 text-lg">{{ blood_bag.serial_no }}</span>
                    </h3>
                </div>
                <!-- Modal body -->
                <div class="p-4 space-y-6">
                    <form method="post" id="blood-bag-form" onsubmit="return validateForm(event);">
                        {% csrf_token %}
                        <input type="text" class="hidden" name="serial_no" value="{{ blood_bag.serial_no }}">
                        <h1>Are you sure that this blood has already been tested and is ready to be moved to the inventory/stock?</h1>
                        <!-- Modal footer -->
                        <hr class="h-px my-2 bg-gray-400 border-0">
                        <div class="flex justify-end">
                            <div class="flex items-center space-x-2 border-t border-gray-200 rounded-b">
                                <button data-modal-hide="staticModal" type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                    Move
                                </button>
                                <button
                                    id="cancel-btn"
                                    type="button"
                                    class="text-black bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-red-500 hover:border-red-500"
                                    data-modal-hide="staticModal"
                                >
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center mt-6">
        <div class="flex items-center justify-center h-20">
          <p class="text-gray-500">Blood bag is empty.</p>
        </div>
      </td>
    </tr>
    {% endfor %}
</table>
<div id="toast-container" class="fixed bottom-0 left-0 z-50 ml-14">
    {% include "inventory/toast_message.html" %}
</div>
{% endblock table %} {% block navPagination %}
<nav class="bg-gray-50 flex items-center justify-center py-5">
    {% if page_obj.has_other_pages %}
    <ul class="flex list-none">
        {% if page_obj.has_previous %}
        <!-- First page item -->
        <li>
            <a class="relative block px-3 py-2 rounded-l-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page=1{{ page_obj.sort_param }}">
                <span>First</span>
            </a>
        </li>
        <!-- Previous page item -->
        <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ page_obj.previous_page_number }}{{ page_obj.sort_param }}"> Previous </a>
        </li>
        {% endif %} {% for num in page_obj.paginator.page_range %} {% if num == page_obj.number %}
        <!-- Current page item with highlighted background -->
        <li>
            <a class="relative block px-3 py-2 bg-primary text-red-700 font-medium rounded-md" href="?page={{ num }}{{ page_obj.sort_param }}">{{ num }}</a>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <!-- Page number item -->
        <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ num }}{{ page_obj.sort_param }}">
                {{ num }}
            </a>
        </li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <!-- Next page item -->
        <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ page_obj.next_page_number }}{{ page_obj.sort_param }}"> Next </a>
        </li>
        <!-- Last page item -->
        <li>
            <a class="relative block px-3 py-2 rounded-r-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ page_obj.paginator.num_pages }}{{ page_obj.sort_param }}">
                <span>Last</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
{% endblock navPagination %}

<script>
        // Get all the modal toggle buttons
        const modalToggleButtons = document.querySelectorAll("[data-modal-toggle]");
        // Loop through each button and add a click event listener
        modalToggleButtons.forEach((button) => {
            button.addEventListener("click", () => {
                // Get the target modal using the data-modal-target attribute
                const targetModal = document.querySelector(button.dataset.modalTarget);
                // Toggle the hidden class of the target modal
                targetModal.classList.toggle("hidden");
                // Get the cancel button inside the target modal
                const cancelButton = targetModal.querySelector("#cancel-btn");
                // Add a click event listener to the cancel button to hide the modal
                cancelButton.addEventListener("click", () => {
                    targetModal.classList.add("hidden");
                });
            });
        });
    
</script>