{% extends "custom_admin/base.html" %}
{% load tailwind_filters %}
{% load static %}
{% load static tailwind_tags %}

{% block title %}Admin | Inventory{% endblock title %} 
{% block content %}
<div class="flex flex-row h-screen">
    <div>{% include "custom_admin/sidebar.html" %}</div>

    <div class="flex-1 mx-auto relative">
        <div class="overflow-x-auto shadow-b-2xl sm:rounded-lg mx-[120px] mt-[10px]">
            {% include "inventory/navbar.html" %}
            {% include "inventory/bloodinventoryrecord.html" %}
        </div>

        <div id="toast-container" class="fixed bottom-0 left-0 z-50 ml-14">
            {% include "inventory/toast_message.html" %}
        </div>
        
    </div>
</div>

<script>
    //setInterval(function () {
     //   let date = new Date();
      //  let hours = date.getHours() % 12 || 12; // convert hours to 12-hour format
      //  document.getElementById("clock").innerHTML = (hours < 10 ? "0" : "") + hours + ":" + (date.getMinutes() < 10 ? "0" : "") + date.getMinutes() + ":" + (date.getSeconds() < 10 ? "0" : "") + date.getSeconds();
    //}, 500);

    //autoreload
    function autoRefresh(hours, minutes, seconds) {
        let now = new Date(),
            then = new Date();
        then.setHours(hours, minutes, seconds, 0);
        if (then.getTime() < now.getTime()) {
            then.setDate(now.getTime() + 1);
        }
        let timeout = then.getTime() - now.getTime();
        setTimeout(function () {
            window.location.reload(true);
        }, timeout);
    }
    //autoRefresh(0,0,0)
</script>

{% endblock content %}
