<div class="text-center bg-white border-b-2 border-lifelink-black1 p-4">
    <ul class="flex flex-wrap -mb-px">
        <li class="mr-4">
            <a href="{% url 'bloodInventory' %}" class="font-semibold text-gray-900 text-lg py-2 px-4 border-b-2 border-transparent hover:bg-red-200 hover:text-lifelink-red1 hover:rounded-md {% if navbar == 'bloodInventory' %} underline font-bold bg-red-200 rounded-md text-lifelink-red1 {% endif %}" >
                Stocks
            </a>
        </li>
        <li class="mr-4">
            <a href="{% url 'bloodBagList' %}" class="font-semibold text-gray-900 text-lg py-2 px-4 border-b-2 border-transparent hover:bg-red-200 hover:text-lifelink-red1 hover:rounded-md {% if navbar == 'bloodBagList' %} underline font-bold bg-red-200 rounded-md text-lifelink-red1 {% endif %}">
                Collected Blood
            </a>
        </li>
        <li class="mr-4">
            <a href="{% url 'expiredBlood' %}" class="font-semibold text-gray-900 text-lg py-2 px-4 border-b-2 border-transparent  hover:bg-red-200 hover:text-lifelink-red1 hover:rounded-md {% if navbar == 'expiredBlood' %} underline font-bold bg-red-200 rounded-md text-lifelink-red1 {% endif %}">
                Expired Blood
            </a>
        </li>
    </ul>
</div>
<div class="flex justify-between items-center px-4 py-3 bg-white border-b border-gray-200 rounded-b-lg mb-8">
    <!-- <div class="flex flex-row">
        <div class="text-lg font-bold text-gray-700 mr-[20px]">{{ now|date:"l, F d, Y" }}</div>
        <div class="flex items-center justify-around">
            <div class="text-xl font-bold text-gray-700 mr-2" id="clock"></div>
            <div class="text-gray-500 font-medium text-sm uppercase hidden md:block">{{ now|date:"a" }}</div>
        </div>
    </div> -->
    <div class="text-sm font-bold text-gray-700 mr-[20px]">Last updated: January 05 2023, 10:55 A.M</div>
</div>