{% extends "custom_admin/base.html" %}
{% load tailwind_filters %}
{% load static %}
{% load static tailwind_tags %}

{% block title %}
    Admin | Dashboard
{% endblock title %}

{% block content %}
<div class="flex flex-row h-full">
    <div>
        {% include "custom_admin/sidebar.html" %}
    </div>

    <div class="flex-1 mx-auto flex-col">
        <div class="flex flex-row mt-5 ml-5 mr-5">
            <div class="w-full ">
                {% include "inventory/stockoverview.html" %}
            </div>
            <div class="w-[280px] bg-gray-100 p-4 rounded-lg shadow-lg ml-5 h-[490px] mb-7">
                <h2 class="text-lg font-semibold mb-4 text-center">Total Donor Count: <span class="text-red-600 font-bold">134</span></h2>
                <hr class="my-2 mb-3">
                <h1 class="mb-2 font-bold text-center text-2xl">Galloners:</h1>
                <div class="overflow-y-auto max-h-80">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th class="py-2">Info ID</th>
                                <th class="py-2">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-2">23-4323</td>
                                <td class="py-2">Ryan Jay D. Antonio</td>
                            </tr>
                            <tr>
                                <td class="py-2">23-2342</td>
                                <td class="py-2">Renz Lander De Ocampo</td>
                            </tr>
                            <tr>
                                <td class="py-2">23-5431</td>
                                <td class="py-2">Ray Matthew Reyes</td>
                            </tr>
                            <tr>
                                <td class="py-2">23-5324</td>
                                <td class="py-2">James Ryan Robles</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </a>
        </div>
        
        

        <div class="flex justify-between">
            <div class="flex justify-between items-center flex-1 ml-5 space-x-4">
                <div class="w-1/2 h-[305px] bg-white p-4 border-2 border-gray-300 rounded-lg shadow-lg">
                    <div class="relative">
                        <select class="absolute top-0 left-0 p-2 border border-gray-300 rounded-lg text-sm w-[150px]">
                            <option value="January" class="text-sm">January - March</option>
                            <option value="February" selected class="text-sm">April - June</option>
                            <option value="March" class="text-sm">July - September</option>
                            <option value="March" class="text-sm">October - December</option>
                        </select>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <h3 class="text-lg font-semibold mb-4">April - June</h3>
                        <div class="w-full max-w-md">
                            <canvas id="myChart" class="w-full"></canvas>
                        </div>
                    </div>
                </div>
                
                <div class="w-1/2 h-[305px] bg-white p-4 border-2 border-gray-300 rounded-lg shadow-lg">
                    <div class="relative">
                        <select class="absolute top-0 left-0 p-2 border border-gray-300 rounded-lg text-sm w-[150px]">
                            <option value="January" class="text-sm">January - March</option>
                            <option value="February" selected class="text-sm">April - June</option>
                            <option value="March" class="text-sm">July - September</option>
                            <option value="March" class="text-sm">October - December</option>
                        </select>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <h3 class="text-lg font-semibold mb-4">April - June</h3>
                        <div class="w-full max-w-md">
                            <canvas id="myChart1" class="w-full"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="w-[240px] bg-gray-100 p-4 rounded-lg shadow-lg ml-5 h-[290px] mr-5">
                <h2 class="text-lg font-semibold">Total Deferral Count: 1</h2>
                <h2 class="text-lg font-semibold">Dispensed Count: 1</h2>
                <h2 class="text-lg font-semibold">Expired Blood: 1</h2>
            </div>
        </div>
        
        
        
    </div>

</div>

<script>

    var xValues = ["A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-"];
    var yValues = [10, 8, 15, 24, 15, 5, 35, 26];
    var lineColors = ["red", "green", "blue", "orange", "brown", "purple", "teal", "gray"];

    new Chart("myChart", {
    type: "line",  // Changed to line chart
    data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
    options: {
        legend: { display: false },
        title: {
        display: true,
        text: "Total Blood Bags Quarterly"
        }
    }
    });

    

    var xValues1 = ["Malinta", "Maysan", "Dalandanan", "Marulas", "Viente Reales", "Ugong", "Punturin", "Balubaran","Others"];
    var yValues1 = [10, 8, 15, 24, 15, 5, 35, 26,2];
    var barColors1 = ["red", "green", "blue", "orange", "brown", "purple", "teal", "gray","black"];
    
    new Chart("myChart1", {
      type: "bar",
      data: {
        labels: xValues1,
        datasets: [{
          backgroundColor: barColors1,
          data: yValues1
        }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Donors Per Barangay"
        }
      }
    });
    
    </script>
{% endblock content %}
