{% extends "custom_admin/base.html" %}
{% load tailwind_filters %}
{% load static %}
{% load static tailwind_tags %}
{% block title %}Admin | Donor List{% endblock title %}
{% tailwind_css %}

{% block content %}
<div class="flex flex-row h-full">
    <div>{% include "custom_admin/sidebar.html" %}</div>
    <div class="flex-1 mx-auto">
        <div class="relative overflow-x-auto shadow-b-2xl sm:rounded-lg mx-[120px] mt-[20px]">
          <div class="text-center bg-white border-b-2 border-lifelink-black1 p-4">
            <ul class="flex flex-wrap -mb-px">
                <li class="mr-4">
                    <a href="{% url 'donors' %}" class="font-semibold text-gray-900 text-lg py-2 px-4 border-b-2 border-transparent hover:bg-red-200 hover:text-lifelink-red1 hover:rounded-md {% if navbar == 'donors' %} underline font-bold bg-red-200 rounded-md text-lifelink-red1 {% endif %}" >
                        Donors
                    </a>
                </li>
                <li class="mr-4">
                    <a href="{% url 'deferredDonors' %}" class="font-semibold text-gray-900 text-lg py-2 px-4 border-b-2 border-transparent hover:bg-red-200 hover:text-lifelink-red1 hover:rounded-md {% if navbar == 'deferredDonors' %} underline font-bold bg-red-200 rounded-md text-lifelink-red1 {% endif %}">
                        Deferred Donors
                    </a>
                </li>
            </ul>
        </div>
            
        <!-- content here -->
        </div>
    </div>
</div>

{% endblock content %}