{% extends "custom_admin/base.html" %} {% load tailwind_filters %} {% load static %} {% load static tailwind_tags %} {% block title %}Admin | Dashboard{% endblock title %} {% block content %}

<div class="flex flex-row h-full">
    <div>{% include "custom_admin/sidebar.html" %}</div>

    <!-- Donor Info -->
    <div class="flex-1 mx-auto">
        <h1 class="font-bold">Donor Summary</h1>
        <div class="">
            <p>Total Male Count: {{ male_count }}</p>
            <p>Total Female Count: {{ female_count }}</p>

            <!-- bloodtype -->
            {% for blood_type_count in blood_type_counts %}
            <p>{{ blood_type_count.blood_type }}: {{ blood_type_count.count }}</p>
            {% endfor %}

            <!-- Age -->
            <div>
                <p>Total Minors Count: {{ minors_count|default:0 }}</p>
                <p>Total Legal Age Count: {{ legal_age_count|default:0 }}</p>
            </div>
        </div>
    </div>

    <!-- Inventory -->
    <div class="flex-1 mx-auto">
        <h1 class="font-bold">Inventory Summary</h1>
        <div class="">
            <div>
                {% for count in blood_inventory_counts %}
                <p>Current Stock for {{ count.bag_id__info_id__blood_type }}: {{ count.count }}</p>
                {% endfor %}
            </div>

            <div>
                <h3>Blood Bags Donated Per Month:</h3>
                <ul>
                    {% for donation in blood_donation_per_month %}
                    <li>Month: {{ donation.month }}, Count: {{ donation.count }}</li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}
