{% extends "custom_admin/base.html" %}{% load tailwind_filters %} {% load static %} {% load static tailwind_tags %} {% block title %}Admin | Users{% endblock title %} {% tailwind_css %} {% block content %}
<div class="flex flex-row h-ful">
    {% block sidebaruser %}
    
    <div>{% include "custom_admin/sidebar.html" %}</div>
    {% endblock sidebaruser %}
    <div id="toast-container" class="fixed bottom-0 left-0 z-50 ml-14">
        {% include "inventory/toast_message.html" %}
    </div>
    <div class="flex-1 mx-auto">
        <!-- TABLEEEEEEE -->
        <div class="relative overflow-x-auto shadow-b-2xl sm:rounded-lg mx-[120px] mt-[20px]">
            {% block headings %}
            <h1 class="flex items-center text-5xl font-extrabold mb-[50px]">
                {% block titleLarge %}Users{% endblock titleLarge %} <span class="bg-red-700 text-white text-sm font-semibold mr-2 px-2.5 py-0.5 rounded ml-2">{% block titleSmall %}LIST{% endblock titleSmall %}</span>
            </h1>
            {% endblock headings %}
            <div class="flex items-center justify-between pb-2">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <img src="{% static 'assets/icons/search.svg' %}" alt="Search icon" class="w-5 h-5" />
                    </div>
                    {% block searchPlaceHolder %}
                    <input type="text" id="search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search User" /> 
                    {% endblock searchPlaceHolder %}
                </div>
                <div>
                    {% block export %}
                    <a href="{% url 'export-donor-info' %}">
                        <button
                            id="dateRange-modal-trigger-btn"
                            data-modal-target="small-modal"
                            data-modal-toggle="small-modal"
                            class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-300 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5"
                            type="button"
                        >
                            <img src="{% static 'assets/icons/xls.svg' %}" alt="xls icon" class="w-5 h-5 mr-4" /> Export
                        </button>
                    </a>
                    {% endblock export %}
                </div>
            </div>
            {% block table %}
            <table class="w-full text-sm text-left text-gray-500 table-auto" id="table">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 text-center">
                    <tr>
                        <!-- <th scope="col" class="px-6 py-3">
                     info ID 
                     </th> -->
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Name {% if users.sort_param == '&sort=firstname' %}
                                <a href="?page={{ users.number }}&sort=-firstname">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% else %}
                                <a href="?page={{ users.number }}&sort=firstname">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% endif %}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Blood Type {% if users.sort_param == '&sort=blood_type' %} {% if users.paginator.reverse %}
                                <!-- check if currently sorted ascending or descending -->
                                <a href="?page={{ users.number }}&sort=-blood_type">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort ascending icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% else %}
                                <a href="?page={{ users.number }}">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort descending icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% endif %} {% else %}
                                <a href="?page={{ users.number }}&sort=blood_type">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% endif %}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">Date of Birth</div>
                        </th>
                        <th scope="col" class="px-6 py-3">Email</th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Sex {% if users.sort_param == '&sort=sex' %} {% if users.paginator.reverse %}
                                <!-- check if currently sorted ascending or descending -->
                                <a href="?page={{ users.number }}&sort=-sex">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort ascending icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% else %}
                                <a href="?page={{ users.number }}">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort descending icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% endif %} {% else %}
                                <a href="?page={{ users.number }}&sort=sex">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% endif %}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Age {% if users.sort_param == '&sort=age_asc' %}
                                <a href="?page={{ users.number }}&sort=-age_asc">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% else %}
                                <a href="?page={{ users.number }}&sort=age_asc">
                                    <img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2" />
                                </a>
                                {% endif %}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">Contact Number</th>
                        <!-- <th scope="col" class="px-6 py-3"># Donated Blood</th> -->
                        <th scope="col" class="px-6 py-3">Actions</th>
                        <th scope="col" class="px-6 py-3">Blood Bag</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for user in users %}
                    <tr class="bg-white border-b hover:bg-gray-50 text-center text-gray-800">
                        <!-- <td class="px-6 py-4">
                     {{ user.info_id }}
                     </td> -->
                        <td class="px-6 py-4">
                            {{ user.firstname }} {{ user.lastname }}
                        </td>
                        <td class="px-6 py-4">
                            {{user.blood_type }}
                        </td>
                        <td class="px-8 py-6">
                            {{ user.date_of_birth|date:"F d, Y" }}
                        </td>
                        <td class="px-6 py-4">
                            {{ user.email }}
                        </td>
                        <td class="px-6 py-4">
                            {{ user.sex }}
                        </td>
                        <td class="px-6 py-4">
                            {{ user.age }}
                        </td>
                        <td class="px-6 py-4">
                            {{ user.contact_number }}
                        </td>
                        <!-- <td class="px-6 py-4">
                            {{ user.donation_count }}
                          </td> -->
                          
                        <td class="px-6 py-4">
                            <div class="flex item-center justify-center">
                                <button data-modal-target="#view-blood-modal{{user.info_id}}" data-modal-toggle="defaultModal" type="button">
                                    <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </div>
                                </button>
                                <button data-modal-target="#edit-blood-modal{{user.info_id}}" data-modal-toggle="defaultModal" type="button">
                                    <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </td>
                        <td class="px-4 py-4">
                            <button
                                data-modal-target="#add-blood-modal{{user.info_id}}"
                                data-modal-toggle="defaultModal"
                                type="button"
                                class="add-blood-btn flex items-center justify-center text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg py-[5px] px-[3px] text-xs text-center"
                            >
                                Add Blood
                            </button>
                        </td>
                    </tr>
                    {% include "custom_admin/addbloodbag.html" %} {% include "custom_admin/viewuserinfo.html" %} {% include "custom_admin/edituserinfo.html" %}{% endfor %}
                </tbody>
                <div class="flex items-center justify-center w-full">
                    {% if submission_success %}
                    <div id="toast-success" class="flex items-center justify-center w-full p-4 mb-1 font-bold bg-green-100 border-green-400 rounded-lg shadow" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-200 rounded-lg dark:bg-green-800 dark:text-green-200">
                            <img src="{% static 'assets/icons/check.svg' %}" alt="check icon" class="w-5 h-5" />
                        </div>
                        <div class="ml-3 text-sm font-semibold text-green-700">{{ submission_success }}</div>
                        <button
                            type="button"
                            class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-green-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-green-800 dark:hover:bg-green-700"
                            data-dismiss-target="#toast-success"
                            aria-label="Close"
                        >
                            <span class="sr-only">Close</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                    </div>
                    {% endif %} {% if serial_exists_error %}
                    <div id="toast-danger" class="flex items-center justify-center w-full p-4 mb-1 font-bold bg-red-100 border-red-400 rounded-lg shadow" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-200 rounded-lg dark:bg-red-800 dark:text-red-200">
                            <img src="{% static 'assets/icons/road-sign.svg' %}" alt="sort icon" class="w-5 h-5" />
                        </div>
                        <div class="ml-3 text-sm font-semibold text-red-700">{{ serial_exists_error }}</div>
                        <button
                            type="button"
                            class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-red-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-red-800 dark:hover:bg-red-700"
                            data-dismiss-target="#toast-danger"
                            aria-label="Close"
                        >
                            <span class="sr-only">Close</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                    </div>
                    {% endif %} {% if serial_incomplete_error %}
                    <div id="toast-danger" class="flex items-center justify-center w-full p-4 mb-1 font-bold bg-red-100 border-red-400 rounded-lg shadow" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-200 rounded-lg dark:bg-red-800 dark:text-red-200">
                            <img src="{% static 'assets/icons/road-sign.svg' %}" alt="sort icon" class="w-5 h-5" />
                        </div>
                        <div class="ml-3 text-sm font-semibold text-red-700">{{ serial_incomplete_error }}</div>
                        <button
                            type="button"
                            class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-red-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-red-800 dark:hover:bg-red-700"
                            data-dismiss-target="#toast-danger"
                            aria-label="Close"
                        >
                            <span class="sr-only">Close</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </table>
            {% endblock table %} {% block navPagination %}
            <nav class="bg-gray-50 flex items-center justify-center py-5">
                {% if users.has_other_pages %}
                <ul class="flex list-none">
                    {% if users.has_previous %}
                    <!-- First page item -->
                    <li>
                        <a class="relative block px-3 py-2 rounded-l-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page=1{{ users.sort_param }}">
                            <span>First</span>
                        </a>
                    </li>
                    <!-- Previous page item -->
                    <li>
                        <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ users.previous_page_number }}{{ users.sort_param }}"> Previous </a>
                    </li>
                    {% endif %} 
                    
                    {% for num in users.paginator.page_range %} 
                        {% if num == users.number %}
                    <!-- Current page item with highlighted background -->
                    <li>
                        <a class="relative block px-3 py-2 bg-primary text-red-700 font-medium rounded-md" href="?page={{ num }}{{ users.sort_param }}">{{ num }}</a>
                    </li>
                    {% elif num > users.number|add:'-3' and num < users.number|add:'3' %}
                    <!-- Page number item -->
                    <li>
                        <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ num }}{{ users.sort_param }}">
                            {{ num }}
                        </a>
                    </li>
                    {% endif %} {% endfor %} {% if users.has_next %}
                    <!-- Next page item -->
                    <li>
                        <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ users.next_page_number }}{{ users.sort_param }}"> Next </a>
                    </li>
                    <!-- Last page item -->
                    <li>
                        <a class="relative block px-3 py-2 rounded-r-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900" href="?page={{ users.paginator.num_pages }}{{ users.sort_param }}">
                            <span>Last</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
            {% endblock navPagination %}
        </div>
    </div>
</div>
  
<!-- End of table -->
<!-- Modal forExport -->
<!-- End of Modal forExport -->
<script>    
    //Date range modal
    //Search
    const searchInput = document.getElementById("search");
    const tableBody = document.getElementById("table-body");
    const tableRows = Array.from(tableBody.querySelectorAll("tr"));
    const results = [];
    searchInput.addEventListener("input", function () {
        filterTable("name");
    });

    function filterTable(sortColumn) {
        const filterValue = searchInput.value.toLowerCase();
        results.length = 0;
        tableRows.forEach((row) => {
            let isMatch = false;
            row.querySelectorAll("td").forEach((cell) => {
                const cellValue = cell.textContent.toLowerCase();
                if (cellValue.includes(filterValue)) {
                    isMatch = true;
                }
            });
            if (isMatch) {
                results.push(row);
            }
        });
        tableBody.innerHTML = "";
        if (results.length === 0) {
            const noDataRow = document.createElement("tr");
            const noDataCell = document.createElement("td");
            noDataCell.setAttribute("colspan", "8");
            noDataCell.textContent = "No data available";
            noDataCell.classList.add("px-6", "py-4", "text-center", "text-gray-500", "italic");
            noDataRow.appendChild(noDataCell);
            noDataRow.classList.add("no-data");
            tableBody.appendChild(noDataRow);
        } else {
            results.forEach((result) => {
                tableBody.appendChild(result);
            });
        }
    }
    // Get all the modal toggle buttons
    const modalToggleButtons = document.querySelectorAll("[data-modal-toggle]");
    // Loop through each button and add a click event listener
    modalToggleButtons.forEach((button) => {
        button.addEventListener("click", () => {
            // Get the target modal using the data-modal-target attribute
            const targetModal = document.querySelector(button.dataset.modalTarget);
            // Toggle the hidden class of the target modal
            targetModal.classList.toggle("hidden");
            // Get the cancel button inside the target modal
            const cancelButton = targetModal.querySelector("#cancel-btn");
            // Add a click event listener to the cancel button to hide the modal
            cancelButton.addEventListener("click", () => {
                targetModal.classList.add("hidden");
            });
        });
    });





 // Get all date input fields
const dateDonatedInputs = document.querySelectorAll('input[type="date"]');

// Get tomorrow's date
const tomorrowDate = new Date();
tomorrowDate.setDate(tomorrowDate.getDate() + 1);
const tomorrowDateString = tomorrowDate.toISOString().split('T')[0];

// Iterate over each date input field
dateDonatedInputs.forEach((dateDonatedInput) => {
  // Set the max attribute to tomorrow's date
  dateDonatedInput.setAttribute('max', tomorrowDateString);

  // Add event listener to the input field
  dateDonatedInput.addEventListener('input', () => {
    const selectedDate = dateDonatedInput.value;

    // Compare the selected date with the current and tomorrow's dates
    if (selectedDate > tomorrowDateString) {
      dateDonatedInput.setCustomValidity('Please select a date before or equal to tomorrow\'s date.');
    } else {
      dateDonatedInput.setCustomValidity('');
    }
  });
});


</script>
{% endblock content%}
