{% extends "custom_admin/base.html" %}
{% load tailwind_filters %}
{% load static %}
{% load static tailwind_tags %}
{% block title %}Admin | Users{% endblock title %}
{% tailwind_css %}
{% block content %}


<div class="flex flex-row">
  <div>
    {% include "custom_admin/sidebar.html" %}
  </div>
  <div>
    <!-- TABLEEEEEEE -->

<div class="relative overflow-x-auto shadow-b-2xl sm:rounded-lg mx-60 mt-[60px]">
  <h1 class="flex items-center text-5xl font-extrabold dark:text-white mb-[50px]">Users<span class="bg-red-700 text-white text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-black ml-2">LIST</span></h1>

   <div class="flex items-center justify-between pb-4">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative">
         <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <img src="{% static 'assets/icons/search.svg' %}" alt="Search icon" class="w-5 h-5">
         </div>
         <input type="text" id="search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search">
      </div>
      <div>
         <a href="{% url 'export-donor-info' %}">
         <button id="dateRange-modal-trigger-btn" data-modal-target="small-modal" data-modal-toggle="small-modal" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-300 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
         <img src="{% static 'assets/icons/xls.svg' %}" alt="xls icon" class="w-5 h-5 mr-4">
         Export
         </button>
         </a>
      </div>
   </div>
   <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto" id="table">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 text-center">
         <tr>
            <!-- <th scope="col" class="px-6 py-3">
               info ID 
               </th> -->
            <th scope="col" class="px-6 py-3">
               <div class="flex items-center justify-center">
                  Name
                  <a href="#" id="sort-name"><img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2"></a>
               </div>
            </th>
            <th scope="col" class="px-6 py-3">
               <div class="flex items-center justify-center">
                  Blood Type
                  <a href="#" id="sort-blood-type"><img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2"></a>
               </div>
            </th>
            <th scope="col" class="px-6 py-3">
               <div class="flex items-center justify-center">
                  Date of Birth
               </div>
            </th>
            <th scope="col" class="px-6 py-3">
               Email
            </th>
            <th scope="col" class="px-6 py-3">
               <div class="flex items-center justify-center">
                  Sex
                  <a href="#" id="sort-sex"><img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2"></a>
               </div>
            </th>
            <th scope="col" class="px-6 py-3">
               <div class="flex items-center justify-center">
                  Age
                  <a href="#" id="sort-age"><img src="{% static 'assets/icons/sort.svg' %}" alt="sort icon" class="w-5 h-5 ml-2"></a>
               </div>
            </th>
            <th scope="col" class="px-6 py-3">
               Contact Number
            </th>
            <th scope="col" class="px-6 py-3">
               Actions
            </th>
            <th scope="col" class="px-6 py-3">
               Blood Bag
            </th>
         </tr>
      </thead>
      <tbody id="table-body">
         {% for user in users  %}
         <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 text-center text-gray-800">
            <!-- <td class="px-6 py-4">
               {{ user.info_id }}
               </td> -->
            <td class="px-6 py-4">
               {{ user.firstname }} {{ user.lastname }}
            </td>
            <td class="px-6 py-4">
               {{user.blood_type }}
            </td>
            <td class="px-6 py-4">
               {{ user.date_of_birth }}
            </td>
            <td class="px-6 py-4">
               {{ user.email }}
            </td>
            <td class="px-6 py-4">
               {{ user.sex }}
            </td>
            <td class="px-6 py-4">
               {{ user.age }}
            </td>
            <td class="px-6 py-4">
               {{ user.contact_number }}
            </td>
            <td class="px-6 py-4">
               <div class="flex item-center justify-center">
                  <div class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110 text-gray-700">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                     </svg>
                  </div>
                  <div class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110 text-gray-700">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                     </svg>
                  </div>
                  <div class="w-4 mr-2 transform hover:text-red-500 hover:scale-110 text-gray-700">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                     </svg>
                  </div>
               </div>
            </td>
            <td class="">
               <a href="#" id="modal-trigger-btn" class="flex items-center bg-red-500 text-white rounded-md justify-center mr-2 hover:bg-red-700">
               <img src="{% static 'assets/icons/blood.svg' %}" alt="Add icon" class="lg:w-8 mr-2 sm:w-3 md:w-5">
               <span>Blood</span>
               </a>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   <nav class="bg-gray-50 flex items-center justify-center py-5">
    {% if users.has_other_pages %}
      <ul class="flex list-none">
        {% if users.has_previous %}
          <!-- First page item -->
          <li>
            <a class="relative block px-3 py-2 rounded-l-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900 dark:bg-gray-700 dark:text-white dark:hover:text-gray-300" href="?page=1"><span>First</span></a>
          </li>
          <!-- Previous page item -->
          <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900 dark:bg-gray-700 dark:text-white dark:hover:text-gray-300" href="?page={{ users.previous_page_number }}">Previous</a>
          </li>
        {% endif %}
        {% for i in users.paginator.page_range %}
          {% if users.number == i %}
            <!-- Current page item with highlighted background -->
            <li>
              <a class="relative block px-3 py-2 bg-primary text-red-700 font-medium rounded-md" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% elif i > users.number|add:'-3' and i < users.number|add:'3' %}
            <!-- Page number item -->
            <li>
              <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900 dark:bg-gray-700 dark:text-white dark:hover:text-gray-300" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if users.has_next %}
          <!-- Next page item -->
          <li>
            <a class="relative block px-3 py-2 bg-white border border-gray-300 text-gray-600 hover:text-gray-900 dark:bg-gray-700 dark:text-white dark:hover:text-gray-300" href="?page={{ users.next_page_number }}"><span>Next</span></svg></a>
          </li>
          <!-- Last page item -->
          <li>
            <a class="relative block px-3 py-2 rounded-r-md bg-white border border-gray-300 text-gray-600 hover:text-gray-900 dark:bg-gray-700 dark:text-white dark:hover:text-gray-300" href="?page={{ users.paginator.num_pages }}"><span>Last</span></a>
          </li>
          {% endif %}
          </ul>
          {% endif %}
          
            </nav>

  
</div>
  </div>
</div>

<!-- End of table -->
<!-- Add blood Bag Modal-->
<!-- End of Add blood Bag Modal-->
<!-- Modal forExport -->
<!-- End of Modal forExport -->
<script>
   //Date range modal
   
   
   
   //Search
   const searchInput = document.getElementById('search');
   const tableBody = document.getElementById('table-body');
   const tableRows = Array.from(tableBody.querySelectorAll('tr'));
   const results = [];
   
   searchInput.addEventListener('input', function() {
     filterTable('name');
   });
   
   function filterTable(sortColumn) {
     const filterValue = searchInput.value.toLowerCase();
     results.length = 0;
     
     tableRows.forEach(row => {
       let isMatch = false;
       row.querySelectorAll('td').forEach(cell => {
         const cellValue = cell.textContent.toLowerCase();
         if (cellValue.includes(filterValue)) {
           isMatch = true;
         }
       });
       if (isMatch) {
         results.push(row);
       }
     });
   
     tableBody.innerHTML = '';
     
     if (results.length === 0) {
       const noDataRow = document.createElement('tr');
       const noDataCell = document.createElement('td');
       noDataCell.setAttribute('colspan', '8');
       noDataCell.textContent = 'No data available';
       noDataCell.classList.add('px-6', 'py-4', 'text-center', 'text-gray-500', 'italic');
       noDataRow.appendChild(noDataCell);
       noDataRow.classList.add('no-data');
       tableBody.appendChild(noDataRow);
     } else {
       results.forEach(result => {
         tableBody.appendChild(result);
       });
     }
   }
   
   
   // SORTTTTT
   
   function sortTable(columnIndex, isAscending) {
       const tbody = document.querySelector('tbody');
       const rows = Array.from(tbody.querySelectorAll('tr'));
     
       const modifier = isAscending ? 1 : -1;
       const compare = (rowA, rowB) => {
         const cellA = rowA.querySelectorAll('td')[columnIndex].textContent.trim();
         const cellB = rowB.querySelectorAll('td')[columnIndex].textContent.trim();
     
         return cellA.localeCompare(cellB) * modifier;
       };
     
       rows.sort(compare);
     
       for (let i = 0; i < rows.length; i++) {
         tbody.appendChild(rows[i]);
       }
     }
     
   
     const nameSortButton = document.querySelector('#sort-name');
     let nameSortOrder = 0; // 0 = unsorted, 1 = ascending, 2 = descending
     nameSortButton.addEventListener('click', () => {
       const columnIndex = 1; // The index of the Name column
       if (nameSortOrder === 0 || nameSortOrder === 2) {
         nameSortOrder = 1;
       } else {
         nameSortOrder = 2;
       }
       sortTable(columnIndex, nameSortOrder === 1);
     });
     
     const bloodTypeSortButton = document.querySelector('#sort-blood-type');
     let bloodTypeSortOrder = 0; // 0 = unsorted, 1 = ascending, 2 = descending
     bloodTypeSortButton.addEventListener('click', () => {
       const columnIndex = 2; // The index of the Blood Type column
       if (bloodTypeSortOrder === 0 || bloodTypeSortOrder === 2) {
         bloodTypeSortOrder = 1;
       } else {
         bloodTypeSortOrder = 2;
       }
       sortTable(columnIndex, bloodTypeSortOrder === 1);
     });
     
   
   
   //const sortLink = document.getElementById("sort-birthday");
   
   //sortLink.addEventListener("click", () => {
   //  const dates = Array.from(document.querySelectorAll(".birthday")).map((elem) => elem.textContent);
   //  const sortedDates = dates.sort((a, b) => new Date(a) - new Date(b));
    // const list = document.querySelector(".birthday-list");
    // sortedDates.forEach((date) => {
     //  const item = list.querySelector(`[data-date="${date}"]`);
       //list.appendChild(item);
     //});
   //});
   
     
   
     const ageSortButton = document.querySelector('#sort-age');
     let ageSortOrder = 0; // 0 = unsorted, 1 = ascending, 2 = descending
     ageSortButton.addEventListener('click', () => {
       const columnIndex = 6; // The index of the Age column
       if (ageSortOrder === 0 || ageSortOrder === 2) {
         ageSortOrder = 1;
       } else {
         ageSortOrder = 2;
       }
       sortTable(columnIndex, ageSortOrder === 1);
     });
     
     const sexSortButton = document.querySelector('#sort-sex');
     let sexSortOrder = 0; // 0 = unsorted, 1 = ascending, 2 = descending
     sexSortButton.addEventListener('click', () => {
       const columnIndex = 5; // The index of the Sex column
       if (sexSortOrder === 0 || sexSortOrder === 2) {
         sexSortOrder = 1;
       } else {
         sexSortOrder = 2;
       }
       sortTable(columnIndex, sexSortOrder === 1);
     });
     
</script>
{% endblock content%}