{% extends "prcuser/base.html" %} {% load tailwind_filters %} {% load static %} {% load static tailwind_tags %} {% block title %}LifeLink | Donation History{% endblock title %} {% tailwind_css %} {% block content %}

<div class="flex flex-row h-ful">
    <div>{% include "prcuser/sidebar.html" %}</div>
    <div class="flex-1 mx-auto">
        {% include "prcuser/navbar1.html" %}
        <hr class="bg-lifelink-red2 h-1 mt-[40px]">

        <div class="relative overflow-x-auto shadow-b-2xl sm:rounded-lg mx-[120px] mt-[5px]">
            <div class="flex flex-col mt-8 mb-8">
                <h1 class="text-5xl font-extrabold dark:text-white">Donation History</h1>
                {% if days_since_last_donation is not None %}
                <div class="flex">
                    <img src="{% static 'assets/icons/clock.svg' %}" alt="collect icon" class="w-[25px] mr-2 mt-3" />
                    {% if days_since_last_donation == 0 %}
                    <p class="text-gray-500 whitespace-pre-line dark:text-gray-400 text-lg mt-3">Last Donated <span class="text-red-700 font-semibold">Today</span></p>
                    {% else %}
                    <p class="text-gray-500 whitespace-pre-line dark:text-gray-400 text-lg mt-3">Last Donated <span class="text-red-700 font-semibold">{{ days_since_last_donation }} Day/s</span> ago</p>
                    {% endif %}
                </div>
                {% else %}
                <div class="flex ">
                    <img src="{% static 'assets/icons/clock.svg' %}" alt="collect icon" class="w-[25px] mr-2 mt-3" />
                    <p class="text-gray-500 whitespace-pre-line dark:text-gray-400 text-lg mt-3 font-semibold">You haven't donated yet</p>
                </div>
                {% endif %}
            </div>
            <!-- Tableeeeeeeee -->
            <table class="w-full text-sm text-left text-gray-500 table-auto" id="table">
                <thead class="text-xs text-gray-700 uppercase bg-gray-200 text-center">
                    <tr>
                        <!-- <th scope="col" class="px-6 py-3">
                     info ID 
                     </th> -->
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Date
                            </div>
                        </th>

                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Serial Number
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Volume(ML)
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                Status
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for blood_bag in blood_bags %} {% if blood_bag.info_id.user == user %}
                    <tr class="bg-white border-b hover:bg-gray-50 text-center text-gray-800">
                        <td class="px-6 py-4">
                            {{ blood_bag.date_donated|date:"F d, Y" }}
                        </td>
                        <td class="px-6 py-4">
                            {{ blood_bag.serial_no }}
                        </td>
                        <td class="px-6 py-4">
                            <p>450 ML</p>
                        </td>
                        <td class="px-6 py-4">
                            <p>Collected</p>
                        </td>
                    </tr>
                    {% endif %} {% empty %}
                    <tr>
                        <td class="text-center py-4" colspan="4">No donation history found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
