{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

<footer class="bg-gray-800 text-white">
    <div class="mx-auto flex justify-between items-center px-4">
        <p class="text-gray-400">&copy; 2023 Red Cross Blood Donation</p>
        <ul class="pr-4 py-2">
            <li><a href="#" class="text-gray-400 hover:text-white">Terms &amp; Conditions</a></li>
            <li><a href="#" class="text-gray-400 hover:text-white">Privacy Policy</a></li>
            <li><a href="#" class="text-gray-400 hover:text-white">Contact Us</a></li>
            <li><a href="#" class="text-gray-400 hover:text-white"><i class='bx bxl-facebook-circle'></i></a></li>
        </ul>
    </div>
</footer>
