{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/logo.png' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    {% tailwind_css %}
    <title>
        {% block title %}
        Red Cross  
        {% endblock title %}
    </title>
</head>
<body class=" bg-gray-200 px-2 py-2">

    {% include "prcuser/navbar.html" %}
    {% block content %}
          
    <div class="container relative mx-8">
        <div class="mt-36 max-w-screen-xl">
            <h1 class="text-6xl font-semibold leading-normal">Red Cross <br> <span class="font-normal">Valenzuela City Chapter</span> </h1>
            <h3 class="text-4xl font-normal">Donate Blood, Save Lives</h3>
            <p>Blood donation is a selfless act of giving blood to save the lives of others.</p>

            <div class="mt-8 md:mt-16 lg:mt-20">
                <a href="{% url 'user_login' %}" class="bg-red-700 text-white rounded-3xl leading-none py-3 px-20 font-semi-bold text-2xl cursor-pointer tracking-normal hover:bg-red-600 hover:border-white-300 hover:text-black duration-300 hover:border border border-transparent md:w-auto lg:w-1/2">Login</a>
                <a href="{% url 'user_signup' %}" class="bg-red-700 text-white rounded-3xl leading-none py-3 px-20 font-semi-bold text-2xl cursor-pointer tracking-normal hover:bg-red-600 hover:border-white-300 hover:text-black duration-300 hover:border border border-transparent md:w-auto lg:w-1/2">Register</a>
            </div>

            <img src="{% static 'assets/img/prcvc-building.jpg' %}" alt="Red Cross Valenzuela Building" class="w-full xl:w-1/2 xl:absolute bottom-0 opacity-50 right-0 rounded-2xl">

        </div>

       
    </div>    
    {% endblock content %}  
    {% block extra_css %}
    {% endblock extra_css%}
    {% block extra_js %}
    {% endblock extra_js %}
    {% include "prcuser/footer.html" %}

</body>

</html>